body {
    background-color: rgb(86, 137, 176);
}

h1 {
    color: whitesmoke;
    font-size: 53px;
    font-family: Optima, sans-serif;
    display: flex;
    justify-content: center;

}

h3 {

    color: whitesmoke;
    font-size: 24px;
    font-family: Optima, sans-serif;
    display: flex;
    justify-content: center;

}

p {
    color: black;
    font-weight: bold;
    font-size: 22px;
    font-family: Andale Mono, monospace;
    padding: 20px;
    margin-bottom: 0;
}

#input {
    margin-left: 23px;
    border-radius: 5px;
    display: block;
    width: 210px;
    padding: 10px;

}

.historyBtn {
    margin-left: 23px;
    border-radius: 5px;
    

}

#currentDay {
    justify-content: center;
    margin-left: 450px;
}

#forecast {
    display: flex;
    border: 1px solid whitesmoke;
}